<div class="row nmhxs">
  <div class="col-md-8 phxs mtm">
    <div class="pam bg-15 bss bwas bc-12">
      <div class="fsm">
        New List
      </div>
    </div>
    <div class="pam mtxs bg-15 bss bwas bc-12">
      <%= form_tag v0_lists_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-lists-form-new" do %>
        <div class="mtm-plus">
          <div class="fsxxs">
            <%= label_tag :name %>
          </div>
          <div class="fss">
            <%= text_field_tag :name, nil, class: "paxxxs bss bwas bc-8 full-width" %>
            <div class="hide js-lists-api-form-error" data-input-name="list[name]"></div>
          </div>
        </div>
        <div class="mtm-plus">
          <%= submit_tag "Create", class: "paxxxs bg-4 bg-2-hover c-14 c-15-hover full-width", data: { disable_with: "Creating" } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 phxs mtm">
    <div class="paxs bg-15 bss bwas bc-12">
      html
    </div>
  </div>
</div>
