<div class="fsl">
  New List
</div>
<div class="row nmhxs">
  <div class="col-sm-6 phxs">
    <%= form_tag v0_lists_url(host: api_domain, subdomain: api_subdomain), remote: true, class: "js-lists-api-form js-admin-lists-form-new" do %>
      <div class="mtm-plus">
        <div class="fsxxs">
          <%= label_tag :name %>
        </div>
        <div class="fss">
          <%= text_field_tag :name, nil, class: "paxxxs bss bwas bc-8 full-width" %>
          <div class="hide js-lists-api-form-error" data-input-name="list[name]"></div>
        </div>
      </div>
      <div class="mtm-plus">
        <%= submit_tag "Create", class: "paxxxs bss bwas bc-8 full-width" %>
      </div>
    <% end %>
  </div>
</div>
