.bundle
db/*.sqlite3
log/*.log
tmp/
.idea
config/database.yml
.DS_Store
public/cache
.sass-cache/
public/assets
public/assets/source_maps
*.sql*
dump.rdb
redis.log
redis.pid
redis.pid.lock
.env
.rvmrc
.powenv
.rbenv
.rbenv-vars
.rbenv-version
.ruby-version
.ruby-gemset
public/system
.floo
.flooignore
.sublime-project
.elasticbeanstalk/
